/*
    Property of EthanBlaisAlarms

    © Copyright EthnBlaisAlarms 2023
    All Rights Reserved
*/




/* CSS Reset */
body, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}



/* Global CSS Rules */
body {
    background-color: #09101D;
}
img {
    max-width: 100%;
    display: block;
}

/* Header CSS Rules */
#header {
    position: static;
    top: 0;
}

.title{
	font-family: "Monsterific BB";
	padding: 30px;
	text-align: center;
	font-size: 6em;
	color: #AFFC41;
	text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

#header img {
    margin: 0 auto;
    padding-top: 10px;
}

/* Navigation CSS Rules */
#nav {
    margin: 0 auto;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
#nav li {
    font-size: 2em;
    font-weight: 500;
    display: inline-block;
	color: #fff;
    padding: 1%;
	font-family: "Monsterific BB";
}
#nav li a {
    display: block;
    color: #fff;
    padding: .1em .75em;
    text-decoration: none;
}

#nav li a:hover{
	color: #AFFC41;
	 text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

#nav li:last-child {
    border-bottom: none;
}

/* Main CSS Rules */
#main {
    clear: both;
    padding: 2%;
    font-size: 1.25em;
	background-color: #F6F7F8;
}

.dance {
	width: 43%;
	margin-right: 20px;
	float: left;
}

#main p {
	margin: 30px;
	color: #09101D;
	font-size: 1.3em;
	font-family: "TotallyGlyphic OT";
}

#main li {
	margin: 30px;
	color: #09101D;
}

#main li a{
	color: #09101D;
	font-family: "TotallyGlyphic OT";
}
h2 {
    font-size: 2em;
    font-weight: 500;
	margin: 20px;
	font-family: "TotallyGlyphic OT";
	color: #A71D31;
}
h3 {
    font-weight: 500;
    font-size: 1.5em;
	color: #09101D;
	font-family: "TotallyGlyphic OT";
	margin-left: 40px;
}
hr {
    color: #000;
}
a {
	color: #fff;
    text-decoration: none;
    font-weight: 500;
}
button {
    height: 3em;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #ddd;
    margin-bottom: 1%;
}
button:hover {
    
}
label {
    height: 2em;
    border-radius: 4px;
    margin-bottom: 1%;
    color: #fff;
}
input {
    height: 2em;
    width: 90%;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #ddd;
    margin-bottom: 1%;
}


/* Message Boxes */
.msgbox {
    border: 1px solid black;
    padding: 0 3%;
    margin: 1% 0;
    border-radius: 20px;
}
.error {
    background-color: red;
}
.warning {
    background-color: yellow;
}

/* Tables */
table {
    width: 100%;
    background-color: #5cf745;
    padding: 0;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}
table, td, th {
    border: 1px solid;
	
}

/* Footer CSS Rules */
#footer {
    padding: 1%;
}
#footer p {
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    padding: 0 1em;
	font-family: "Monsterific BB";
}
#footer a {
    color: #ffffff;
}

form input{
	background-color: #09101D;
	color: #F6F7F8;
}

form label{
	color: #A71D31;
	font-family: "TotallyGlyphic OT";
}